<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./partials/head') %>
    <title>Blog</title>
</head>
<body>
   <%- include('./partials/nav') %> 

   <div class="container mt-3">
    <h1><%= blog.title %></h1>
    <img src="<%= blog.coverImageURL %>" width="500px">
    <p mt-5><%= blog.body %></p>
   </div>

   <div class="container mt-3">
      <img src="<%= blog.createdBy.profileImage %>" width="50px"> <%= blog.createdBy.fullName %>
   </div>

   <div class="container mt-3">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
         <form action="/blog/comment/<%= blog._id %>" method="post">

            <div class="mb-3 mt-4">
              <input type="text" class="form-control" name="content" placeholder="Add a comment here">
            </div>
            <button class="btn btn-sm btn-primary" type="submit">Post</button>
            </form>
      <% } %>

      <div class="mt-3">
         <% comments.forEach(comment => { %>
          <div>
            <img src="<%= comment.createdBy.profileImage %>" width="20px"> <%= comment.createdBy.fullName %> <pre><%= comment.content %></pre>
          </div>
         <% }) %>
      </div>
      
   </div>
   <%- include('./partials/script') %>
</body>
</html>